body {
  background-color: grey;
}

.boxes1 {
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.box2 {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.box3 {
  color: white;
  width: 100px;
  height: 100px;
  background-color: black;
  margin-right: 100px;
  margin-top: 100px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
